body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
}

.game-title {
  font-weight: 500;
}

.priceDisplay {
  display: inline-block;
  line-height: 1;
  text-align: right;
  align-self: center;
  vertical-align: middle;
  width: 81px;
  font-size: 18px;
}

.originalPrice {
  font-size: 11px;
  text-decoration: line-through;
  font-style: italic;
}

.discountPercent {
  margin: 0 15px;
  font-size: 18px;
}

.table tr {
  border-top: 1px solid #dee2e6;
}

.table td {
  border: none;
}


#fullscreenDim {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;
}

#popupWindow {
  background-color: white;
  position: relative;
  height: 70%;
  min-width: 300px;
  min-height: 300px;
  padding: 20px;
  border-radius: 8px;
  overflow: auto;
}

.canvasDiv { 
  height: calc(100% - 175px);
  width: calc(100% - 20px);
  max-height: 340px;
  max-width: 740px;
  min-width: 200px;
}

.stopObservingButton {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.addGame {
  position: fixed;
  display: flex;
  justify-content: center;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  font-size: 32px;
  width: 50px;
  height: 50px;
  line-height: 28px;
}

#addDivider {
  text-align: center;
  margin: 15px;
}

.search-result {
  overflow: auto;
  height: calc(100% - 210px)
}

.hide {
  display: none;
}