body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
}

.game-title {
  font-weight: 500;
}

.priceDisplay {
  display: inline-block;
  line-height: 1;
  text-align: right;
  align-self: center;
  vertical-align: middle;
  width: 81px;
  font-size: 18px;
}

.originalPrice {
  font-size: 11px;
  text-decoration: line-through;
  font-style: italic;
}

.discountPercent {
  margin: 0 15px;
  font-size: 18px;
}

.table tr {
  border-top: 1px solid #dee2e6;
}

.table td {
  border: none;
}